
/* 모바일 */
 @media screen and (max-width:639px){
.c1{display: none;}     
     
.cont1>div{width: 100%; } 
.cont1>div:first-child{width: 100%; overflow: hidden;} 
.cont1>div:first-child:nth-child(2){height: 1100px;}    
     
.cont1 .c2 .location{margin-top: 30px;}
.cont1 .c2 h2{margin-top: 150px; }     
 
     
.cont1 .c2 .rnb nav > ul > li:nth-child(1) > ul>li { width: 30%; padding-left:13%; }  
.cont1 .c2 .rnb nav > ul > li:nth-child(1) > ul>li :nth-child(2n){width: 30%; padding-right: 13%;}     
     
.cont1 .c2 .rnb nav > ul > li:nth-child(3) > ul li .btn a {font: normal 14px "Share Tech Mono"; height: 45px; line-height: 45px; width: 80%;}

     
     
     
     
     
     
/*추천&최근 메뉴*/     
.cont2 .tab_group {width: 100%;}    
     
.cont2 .tab_content.on .first > ul > li{width: 33.33333%;}  
.cont2 .tab_content.on .first > ul > li:last-child{display: none;}
.cont2 .tab_content.on .first > ul > li > a {margin: 2px;}  
.cont2 .tab_content.on .first > ul > li > a .screen .top {font:bold 16px "Gothic A1";bottom: 100%;}
.cont2 .tab_content.on .first > ul > li > a:hover .top { bottom: 50%;}
.cont2 .tab_content.on .first > ul > li > a:hover .bottom { top: 65%;}
cont2 .tab_content.on .first > ul > li > a .screen::after {}

     
.cont2 .tab_content.on .second > ul > li{width: 33.3%;}
.cont2 .tab_content.on .second > ul > li > a .screen .top {font:bold 16px "Gothic A1"; bottom: 100%;}
.cont2 .tab_content.on .second > ul > li > a:hover .top { bottom: 50%;}
.cont2 .tab_content.on .second > ul > li > a:hover .bottom { top: 65%;} 
     


     
     
     
     
}
     
  



/*  태블릿 PC : width 1023px 미만 640px 이상 */
 @media screen and (min-width:640px) and (max-width:1024px){   
.c1_m{display: none;}    
     
.cont1>div{float:left; position: relative; width: 50%; height: 1300px;}  
     
.cont1 .c2 .rnb nav > ul > li:nth-child(1) > ul>li {
    float: left;
    padding-left: 15%;
    width: 27%
}

.cont1 .c2 .rnb nav > ul > li:nth-child(1) > ul>li :nth-child(2n){
    padding-right: 7%;
}
     
.cont2 .tab ul {}     
     
     
     
     
}


/* pc */

@media all and (min-width:1024px){
.c1_m{display: none;}  
.cont1>div{ height: 1300px;}   
    
    
    
}
    
    